<table class="table table-hover">
  <thead>
  <tr>
    <th scope="col">Product Name</th>
    <th scope="col">Description</th>
    <th scope="col">Quantity</th>
    <th scope="col">Unit Price</th>
    <th scope="col">Total</th>
    <th scope="col">&nbsp;</th>
  </tr>
  </thead>
  <% @cart_array.each_with_index do |p_hash, index| %>
    <tbody>
    <tr class="table-light">
      <th scope="row"><%= p_hash["name"] %></th>
      <td><%= p_hash["description"] %></td>
      <td>
        <div class="form-group quantity_input">
          <div class="row">
            <%= form_tag(reload_quantity_cart_index_path, method: 'post', remote: true ) do %>
              <%= hidden_field :selectedId, p_hash["id"].to_i %>
              <%= number_field_tag :quantity, p_hash["quantity"], min: 1 %>
              <%= button_tag(raw(icon('fas', 'sync')), :id=>"button", :name=>"submit") %>
            <% end %>
          </div>
        </div>
      </td>
      <td><%= number_to_currency p_hash["price"] %></td>


      <td><%= number_to_currency p_hash["total"] %></td>
      <td>
        <%= form_tag(delete_item_cart_index_path, method: 'post', remote: true ) do %>
          <%= hidden_field :selectedIndex, index %>
          <%= button_tag(raw(icon('fas', 'trash')), :id=>"button", :name=>"submit") %>
        <% end %>
      </td>
    </tr>
    </tbody>
  <% end %>
  <tbody>
    <tr>
      <td colspan="3"></td>
      <th>Subtotal</th>
      <td><%= number_to_currency @subtotal %></td>
    </tr>
  </tbody>
</table>
<a class="btn btn-secondary" href="/order/new">Check Out</a>
