<table class="table table-hover">
  <thead>
  <tr>
    <th scope="col">Product Name</th>
    <th scope="col">Description</th>
    <th scope="col">Quantity</th>
    <th scope="col">Unit Price</th>
    <th scope="col">Total</th>
  </tr>
  </thead>
  <% @products_on_cart.each do |product| %>
    <tbody>
    <tr class="table-light">
      <th scope="row"><%= product.name %></th>
      <td><%= product.description %></td>
      <td>
        <div class="form-group quantity_input">
          <div class="row">
            <%= form_tag("/cart", method: "post") do %>
              <%= label_tag(:qnty)%>
              <%= text_field_tag(:qnty) %>
              <%= submit_tag("Reload") %>
            <% end %>
          </div>
        </div>
      </td>
      <td><%= number_to_currency product.price %></td>

        <% @total = product.price * @quantity %>

      <td><%= number_to_currency @total %></td>
    </tr>
    </tbody>
    <%= @quantity %>
    <%= params.inspect %>
<% end %>
</table>