<table class="table table-hover">
  <thead>
  <tr>
    <th scope="col">Product Name</th>
    <th scope="col">Description</th>
    <th scope="col">Quantity</th>
    <th scope="col">Unit Price</th>
    <th scope="col">Total</th>
    <th scope="col">&nbsp;</th>
  </tr>
  </thead>
  <% @cart_array.each do |p_hash| %>
    <tbody>
    <tr class="table-light">
      <th scope="row"><%= p_hash["name"] %></th>
      <td><%= p_hash["description"] %></td>
      <td>
        <div class="form-group quantity_input">
          <div class="row">

            <%= link_to(raw(icon('fas', 'sync')), reload_quantity_cart_index_path, remote: true,
                        method: :post, :class=>"btn btn-default") %>
          </div>
        </div>
      </td>
      <td><%= number_to_currency p_hash["price"] %></td>


      <td><%= number_to_currency @total %></td>
      <td><%= link_to(raw(icon('fas', 'trash')), delete_item_cart_index_path, remote: true,
                    method: :post, :class=>"btn btn-default") %></td>
    </tr>
    </tbody>
  <% end %>
  <tbody>
    <tr>
      <td colspan="3"></td>
      <th>Subtotal</th>
      <td>$XX.XX</td>
    </tr>
  </tbody>
</table>
