<table class="table table-hover">
  <thead>
  <tr>
    <th scope="col">Product Name</th>
    <th scope="col">Description</th>
    <th scope="col">Quantity</th>
    <th scope="col">Unit Price</th>
    <th scope="col">Total</th>
  </tr>
  </thead>
  <% @products_on_cart.each do |product| %>
    <tbody>
    <tr class="table-light">
      <th scope="row"><%= product.name %></th>
      <td><%= product.description %></td>
      <td>
        <div class="form-group quantity_input">
          <div class="row">
            <%= form_for product, url: reload_quantity_cart_path(product), method: :post do |f| %>
              <%= text_field_tag :quantity, @quantity, min: 0 %>
              <%= f.submit("Reload") %>
            <% end %>

          </div>
        </div>
      </td>
      <td><%= number_to_currency product.price %></td>

        <% @total = product.price  %>

      <td><%= number_to_currency @total %></td>
    </tr>
    </tbody>
  <% end %>
  <tbody>
    <tr>
      <td>Subtotal</td>
    </tr>
    <tr>
      <td>Taxes</td>
      <td>select province</td>
    </tr>
    <tr>
      <td>Total</td>
    </tr>
  </tbody>
</table>
