<div class="row">
  <% @products.each do |product| %>
    <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="card border-primary">

        <% if !product.image.nil? %>
          <%= image_tag product.image.url(:thumb), :class => "card-img-top" %>
        <% end %>

        <div class="card-body">
          <h4 class="card-title">
            <%= link_to product.name , product_path(product) %>
          </h4>
          <h5><%= number_to_currency product.price %></h5>
          <p class="card-text"><%= product.description %></p>
          <div class="form-group">
            <!--<label class="col-form-label" for="inputDefault">Quantity</label>-->
            <!--<input type="text" class="form-control" id="inputDefault">-->
            <%= form_tag do %>
              <%= label_tag(:qnty, "Quantity")%>
              <%= text_field_tag  'Quantity' %>


              </div>
              <div class="to_cart">
                <!--Remote: true - adding AJAX/JS to the page-->
                <a><%= link_to("Add to cart", add_to_cart_product_path(product), remote: true, method: :post) %> </a>
              </div>
            <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>