<%= search_form_for @search do |f| %>
  <%= f.condition_fields do |c| %>

      <%= c.attribute_fields do |a| %>
        <%= a.attribute_select associations: [:category] %>
      <% end %>
      <%= c.predicate_select only: [:cont] %>
      <%= c.value_fields do |v| %>
        <%= v.text_field :value %>
      <%end %>

  <%end %>
  <div class="actions"><%= f.submit "Search" %></div>
<% end %>